* {
    margin: 0;
    padding: 0;
}

.feature-grid {
    display: flex;
    justify-content: center;
}

.feature-grid__content {
    width: 550px;
    padding: 101px 30px 30px;
    background-color: #b47aec;
    color: #fff;

}

.feature-grid__content h3 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 3.75rem;
    font-weight: 700;
    font-family: 'Montserrat';
}

.field--name-field-paragraph {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.8;
}

.feature_icon {
    cursor: pointer;
}

.feature-grid__content:nth-child(2) {
    color: #111111;
    background-color: #f4ebfc;
}

.feature-grid__content:nth-child(3) {
    color: #ffffff;
    background-color: #ff705a;
}