.main-navigation {
    background-color: #111;
}

.navbar {
    display: flex;
    justify-content: space-around;
    max-width: 1320px;
    margin: auto;
    height: 64px;
    align-items: center;
}

.nice__logo a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

.nicebar li {
    list-style-type: none;
}

.nicebar li a {
    text-decoration: none;
    color: #fff !important;
}


.footer-block {
    background-color: #333333;
    text-align: center;
    padding: 50px 0;
}


.footer-block .field--name-field-sample-text {
    color: #fff;
    font-size: 14px;
    margin-bottom: 50px;
}

.footer-block p {
    color: #fff;
}